In [30]:
import pandas as pd

In [31]:
file_path = r'C:\Users\Admin\bi-engineer-interview-task-project\Task Sample files\Data for Task\Casino Data.csv'
df = pd.read_csv(file_path)

In [32]:
# Checking data types
data_types = df.dtypes
print(data_types)

#summary
summary_stats = df.describe()
print(summary_stats)

#checking missing values
missing_values = df.isnull().sum()
print(missing_values)

#checking duplicates
duplicates = df[df.duplicated(keep=False)]
print(duplicates)

#total duplicates count
total_duplicates = len(duplicates)
print(f"\nTotal duplicate rows: {total_duplicates}")

Month             float64
ID                  int64
Provider Name      object
Game Name          object
Game Type Name     object
Qty. Spin         float64
Turnover          float64
Profit            float64
Client             object
dtype: object
              Month            ID      Qty. Spin       Turnover         Profit
count  1.636810e+05  1.636810e+05  163608.000000  163608.000000  163608.000000
mean   2.023400e+03  2.819865e+07      96.895188      53.850226       1.736943
std    9.094975e-13  3.069735e+07     554.890908    1074.823619      82.584287
min    2.023400e+03  6.400000e+01       0.000000       0.000000   -7421.220000
25%    2.023400e+03  4.240677e+06       4.000000       0.800000       0.070000
50%    2.023400e+03  9.470131e+06      15.000000       3.260000       0.590000
75%    2.023400e+03  5.146809e+07      52.000000      14.560000       2.280000
max    2.023400e+03  9.999828e+07   70940.000000  250984.280000   24387.860000
Month              0
ID                 0
Provider Name      0
Game Name          0
Game Type Name    73
Qty. Spin         73
Turnover          73
Profit            73
Client             0
dtype: int64
        Month       ID                 Provider Name Game Name Game Type Name  \
21661  2023.4  8175962  Infingames_PragmaticPlayLive  Spaceman          Slots
56217  2023.4  8175962  Infingames_PragmaticPlayLive  Spaceman          Slots

       Qty. Spin  Turnover  Profit Client
21661        2.0      0.32    0.32       Y
56217        2.0      0.32    0.32       Y

Total duplicate rows: 2

In [33]:
#Fix datatype for Month column (since there is only 1 value)
df['Month'] = pd.to_datetime('2023-04', format='%Y-%m')

In [34]:
#check first 5 row
df.head()

,Month,ID,Provider Name,Game Name,Game Type Name,Qty. Spin,Turnover,Profit,Client
0,2023-04-01,93897,Spribe_Original,Aviator,Instant Win,17.0,2.72,-0.46,Y
1,2023-04-01,93897,Spribe_Original,Mines,Instant Win,144.0,36.93,2.39,Y
2,2023-04-01,64,Infingames_PragmaticPlay,888 Gold,Slots,861.0,277.29,25.18,Y
3,2023-04-01,64,Spribe_Original,Aviator,Instant Win,200.0,223.48,27.86,Y
4,2023-04-01,64,Spribe_Original,Mines,Instant Win,28.0,5.33,0.06,Y

In [35]:
data_types = df.dtypes
print(data_types)

Month             datetime64[ns]
ID                         int64
Provider Name             object
Game Name                 object
Game Type Name            object
Qty. Spin                float64
Turnover                 float64
Profit                   float64
Client                    object
dtype: object

In [36]:
# Remove rows with null values
df = df.dropna()

# Remove duplicate rows
df = df.drop_duplicates()

In [37]:
#define path
new_file_path = r'C:\Users\Admin\bi-engineer-interview-task-project\Task Sample files\Data for Task\Casino Data Cleaned.csv'
# Save the cleaned data to a new CSV file
df.to_csv(new_file_path, index=False)